

#signin{
    color: white;
    width: 25%;
    font-weight: bold;
}


form label{
    color: rgb(0, 0, 0);
    font-weight: lighter;
}




@media (max-width:768px){
    #signin{
        width: 50%;
    }
}

@media (max-width:425px){
    #signin{
        width: 75%;
    }
    #data{
        color: white;
    }
}