/* You can add global styles to this file, and also import other style files */
body{
    background-image: url(./assets/man-hand-holding-virtual-world-with-internet-connection-metaverse-global-business-marketing-banking-financial-pass-thru-application-technology-concept.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: center;
}


header{
    color: white;
    height: 50px;
    background-color: #2a96fbd7;
    align-items: center;
}
h3{
    display: inline-table;
}

header a{
    position: absolute;
    right:20px;
}

footer{
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;
    color: white;
    background-color: #2a96fbd7;
}

